<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md fixed-top bg-white">
    <div class="navbar-brand"><img src="assets/img/icon48.png" height="24"> 불.금.쳌</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!basicAuthenticationService.isUserLoggedIn()" routerLink="/login">로그인</a>
          <a class="nav-link" *ngIf="basicAuthenticationService.isUserLoggedIn()" routerLink="/logout">로그아웃</a>
        </li>
      </ul>
    </div>
  </nav>
</header>