<div class="container" style="border:1px solid red">
    <div class="row">
        <div class="col" style="border:1px solid yellow">
            <textarea name="document-editor" cols="50" rows="10" placeholder="여기에 텍스트를 입력하거나 붙여(Ctrl + V) 넣으세요.">
            </textarea>
        </div>
        <div class="col" style="border:1px solid green">
            <button (click)="checkBadWords()" class="btn btn-success">검사</button>

            <div *ngIf='alertTitle'>{{alertTitle}}</div>
            <div *ngIf='alertMessage'>{{alertMessage}}</div>
            <div class="alert alert-success" *ngIf='message'>{{message}}</div>

            <table class="table">
                <thead>
                    <tr>
                        <th>description</th>
                        <th>Target Date</th>
                        <th>Is Completed?</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alert of alerts">
                        <td>{{alert.description}}</td>
                        <td>{{alert.targetDate | date | uppercase}}</td>
                        <td>{{alert.done}}</td>
                        <td><button (click)="updateAlert(alert.id)" class="btn btn-success">Update</button></td>
                        <td><button (click)="deleteAlert(alert.id)" class="btn btn-warning">Delete</button></td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <td><button (click)="addAlert()" class="btn btn-success">Add</button></td>
            </div>
        </div>
    </div>
</div>