<div class="container">
    <div class="row">
        <div class="col">
            <textarea name="document-editor" class="form-control" [(ngModel)]="documentContents"
                (ngModelChange)="monitorDocumentEditor()" placeholder="여기에 텍스트를 입력하거나 붙여 넣으세요. (Ctrl + V)"
                style="border:none; outline:none; overflow:hidden; resize:none"></textarea>


        </div>
        <div class="col">
            <div *ngIf='alertTitle'>{{alertTitle}}</div>
            <div *ngIf='alertMessage'>{{alertMessage}}</div>
            <div class="alert alert-success" *ngIf='message'>{{message}}</div>

            <table class="table">
                <thead>
                    <tr>
                        <th>description</th>
                        <th>Target Date</th>
                        <th>Is Completed?</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alert of alerts">
                        <td>{{alert.description}}</td>
                        <td>{{alert.targetDate | date | uppercase}}</td>
                        <td>{{alert.done}}</td>
                        <td><button (click)="updateAlert(alert.id)" class="btn btn-success">Update</button></td>
                        <td><button (click)="deleteAlert(alert.id)" class="btn btn-warning">Delete</button></td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <td><button (click)="addAlert()" class="btn btn-success">Add</button></td>
            </div>
        </div>
    </div>
</div>

<footer>
    <nav class="navbar fixed-bottom navbar-expand-sm bg-white">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <div class="nav-link disabled">1230 words</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link disabled">1234 characters</div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>