<h1>All alerts</h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>description</th>
                <th>Target Date</th>
                <th>Is Completed?</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alert of alerts">
                <td>{{alert.description}}</td>
                <td>{{alert.targetDate | date | uppercase}}</td>
                <td>{{alert.done}}</td>
                <td><button (click)="updateAlert(alert.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deleteAlert(alert.id)" class="btn btn-warning">Delete</button></td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <td><button (click)="addAlert()" class="btn btn-success">Add</button></td>
    </div>
</div>